
.animacion {
    margin: auto;
    transition: all 1.2s ease-in-out;
}

.animar-inicio {
    height: 50px;
    opacity: 0;
}

.animar-fin {
    height: 380px;
    opacity: 1;
}

.centrar-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen {
    display: flex;
    height: 80vh;
}

@media (max-width: 620px) {
    .contenedor-imagen {
        display: flex;
        height: 80vh;
    }

    .animar-fin {
        height: 280px;
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .contenedor-imagen {
        display: flex;
        height: 80vh;
    }

    .animar-fin {
        height: 200px;
        opacity: 1;
    }
}

.titulo-principal {
    margin: 0px auto 4.5rem auto;
    color: white;
    font-weight: 700;
    text-align: center;
}