
.animacion {
    transition: all 1.2s ease-in-out;
}

.centrar-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen {
    display: flex;
}

.titulo-principal {
    margin: 0px auto 4.5rem auto;
    color: white;
    font-weight: 700;
}