.boton {
    padding: 5px 15px;
    border-radius: 10px;
    border-style: solid;
    margin: auto 1rem;

    transition: all 0.2s ease-in-out;
}

.boton-grande {
    padding: 12px 26px;
    border-radius: 10px;
    border-style: solid;
    margin: auto 1rem;

    font-size: 1.4rem;
    font-weight: 600;

    transition: all 0.2s ease-in-out;
}

.boton-mediano {
    width: 100%;
    height: 40px;
    border-radius: 10px;

    font-size: 1.2rem;
    font-weight: 600;

    transition: all 0.2s ease-in-out;
}

.azul {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.azul:hover {
    background-color: #0062CC;
    border-color: #0062CC;
}

.amarillo {
    color: white;
    background-color: var(--acento);
    border-color: var(--acento);
}

.bordeado-amarillo {
    background-color: transparent;
    border-color: var(--acento);
    color: var(--acento);
}

.bordeado-amarillo:hover {
    background-color: var(--acento);
    color: white;
}

.amarillo:hover {
    background-color: transparent;
    color: var(--acento);
}

.texto-capital {
    text-transform: capitalize;
}

.contenedor-doble {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contenedor-doble p {
    margin: 0px;
}

.negritas {
    font-weight: 700;
}

.boton-borde {
    padding: 5px 15px;
    margin: auto 1rem;
    border-radius: 10px;
    background-color: transparent;

    transition: all 0.2s ease-in-out;
}

.borde-amarillo {
    border: solid 2px var(--acento);
    color: var(--acento);
}

.borde-amarillo:hover {
    background-color: rgba(246, 170, 28, 0.25);
}

.borde-rojo {
    border: solid 2px var(--acento2);
    color: var(--acento2);
}

.borde-rojo:hover {
    background-color: rgba(188, 57, 8, 0.25);
}

.borde-rojo-intenso {
    border: solid 2px var(--acento2);
    color: var(--acento2);
}

.borde-rojo-intenso:hover {
    background-color: var(--acento2);
    color: white;
}

.texto-grande {
    font-size: 20px;
}

.boton-agregar {
    border-style: solid;
    border-color: var(--acento);
    border-radius: 10px;

    padding: 8px;

    transition: all 0.2s ease-in-out;
}
