
.footer {
    height: 180px;
    background-color: var(--terciario);
    color: white;

    text-align: center;

    flex-direction: column;
    align-items: center;
    padding: 2rem 0px;
}

.footer h2 {
    font-weight: 600;
}