.invertir-flex {
    justify-content: flex-end;
}

.centrar-vertical {
    display: flex;
    align-items: center;
}

.sin-fondo {
    background-color: transparent;
}

.cabecera {
    height: 10vh;
}