.invertir-flex {
    justify-content: flex-end;
}

.centrar-vertical {
    display: flex;
    align-items: center;
}

.sin-fondo {
    background-color: transparent;
}

.cabecera {
    height: 10vh;
    min-height: 60px;
}

.ocultar {
    display: none;
}

.fondo-primario {
    background-color: var(--primario);
    color: white;
}

.extender-fondo {
    width: 100%;
}

.header-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
}

.header-home p {
    margin: 0px;
}

.imagen-perfil {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.imagen-logo {
    height: 45px;
}

.seccion-busqueda {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.boton-buscar {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;

    transition: all 0.2s ease-in-out;
}

.boton-buscar:hover {
    background-color: #941c0c7c;
}

.icono-buscar {
    height: 24px;
}

.contenedor-busqueda, .resultados-busqueda {
    width: 280px;
}

.campo-busqueda {
    width: 100%;
    height: 30px;
    padding: 1px 4px;

    font-size: 14px;

    background-color: transparent;
    color: var(--terciario);
    border-radius: 6px;
    border-color: var(--terciario);
    border-style: solid;    /* Probar */
}

.campo-busqueda:focus {
    outline: inset 2px var(--acento2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.boton-perfil {
    background-color: transparent;
    border: none;
}

.resultados-busqueda {
    position: absolute;
    z-index: 200;
    display: none;
}

#inputBusqueda:focus + .resultados-busqueda {
    display: block;
}

.resultados-busqueda:active {
    /* Permite conservar el menu cuando el mouse esta encima del menu. */
    display: block;
}

#lista-busqueda, #lista-busqueda li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#lista-busqueda li {
    padding: 2px 6px;
    
    background-color: var(--primario);
    border: solid 2px var(--secundario);
    margin-bottom: -2px;    /* Evitar apariencia de bordes "duplicados". */

    cursor: pointer;
}

.link-busqueda {
    text-decoration: none;

    display: flex;
    gap: 6px;
    align-items: center;
}

#lista-busqueda li:hover {
    background-color: var(--terciario);
}

#lista-busqueda li:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#lista-busqueda img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.titulo-pelicula-busqueda {
    color: white;
    font-size: 14px;

    text-decoration: none;
}

.año-pelicula-busqueda {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

#contenedor-menu-perfil {
    cursor: auto;
    position: fixed;

    top: 60px;
    right: 20px;

    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.triangulo {
    width: 0px;
    height: 0px;

    border-left: solid 14px transparent;    /* Mitad de width */
    border-right: solid 14px transparent;
    border-bottom: solid 20px rgba(148, 27, 12, 0.90);    /* Height */

    align-self: flex-end;
    margin-right: 8px;
}

.contenedor-menu {
    height: auto;
    padding: 1.2rem;

    border-radius: 6px;


    background-color: rgba(148, 27, 12, 0.90);
}

.contenedor-menu h3, .contenedor-menu h4 {
    margin: 0px;
    color: white;
}

.contenedor-menu h4 {
    font-size: 18px;
}

.contenedor-menu hr {
    opacity: 1;
    color: white;
}

#id-usuario {
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;

    cursor: pointer;
}

#nivel {
    color: white;
    font-size: 16px;
}

#nivel-nombre {
    color: white;
}

/*
    VERSION perfil
*/

.header-perfil {
    background-color: var(--primario);
    color: white;
}

.contenedor-header-perfil {
    height: 100px;
}

.fondo-perfil-superior {
    background-image: linear-gradient(var(--primario) 0%, var(--primario) 85%, var(--terciario) 100%);

    display: flex;
    align-items: center;
    padding: 0px 1rem;
}

.fondo-perfil-inferior {
    background-image: linear-gradient(to top, var(--primario) 0%, var(--primario) 85%, var(--terciario) 100%);

    position: relative;
}

.imagen-perfil-perfil {
    height: 180px;
    width: 180px;

    border-radius: 50%;

    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
}

.configuracion-imagen-perfil-perfil {
    background-color: rgba(0, 0, 0, 0.75);
    color: #808080;
    height: 180px;
    width: 180px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.configuracion-imagen-perfil-perfil:hover {
    opacity: 1;
}

.configuracion-imagen-perfil-perfil p {
    margin: 0px;
}

.color-blanco {
    color: white;
}

.boton-header-volver {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px;
    margin: 0px;

    font-size: 24px;
    font-weight: 600;
}



/* primario a terciario */
