
.contenedor-main {
    height: calc(100dvh - 60px);
    min-height: 480px;
    color: white;

    padding: 1.2rem;

    overflow: auto;
}

.contenedor-main p, .contenedor-main h2 {
    margin: 0;
}

.contenedor-main section {
    margin-bottom: 3rem;
}

.titulo-home {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
}

.conjunto-recomendados, .conjunto-listas {
    margin-bottom: 1rem;
}

.conjunto-listas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.conjunto-recomendados {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    /* Ocultar elementos overflow, solo mostrar 1 linea de maximo 8 recomendaciones. */
}
