
.contenedor-informacion-perfil {
    /* Se resta el tamaño esperado de los dos elementos del Header. */
    min-height: calc(100dvh - 200px);

    text-align: center;
}

.contenedor-informacion-perfil-perfil {
    padding: 2rem;
    margin: 0px auto;
    width: 90%;

    color: white;
}

#perfil-botones {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#perfil-bibliografia {
    color: var(--terciario);
    width: 60%;
    margin: 0px auto;
}

#perfil-conjunto-listas {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.perfil-lista {
    color: white;
    width: 140px;

    padding: 6px;
    border-radius: 10px;

    overflow: hidden; /* Cambiar a ... */
    transition: all 0.2s ease-in-out;
}

.perfil-lista:hover {
    background-color: rgba(148, 27, 12, 0.25);
}

.perfil-lista p {
    margin: 0px;
}

/*
    Para perfil configuracion.
*/

.contenedor-barraxp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraxp-datos {
    color: var(--acento);
    margin: 0px;
    font-size: 16px;
    width: 180px;
}

.barraxp-fondo {
    background-color: var(--acento2);
    height: 14px;
    width: 280px;
}

.barraxp-relleno {
    background-color: var(--acento);
    height: 100%;

    transition: all 0.2s ease-in-out;
}

.grid-configuracion {
    margin: 2rem auto;
    width: 80%;

    display: grid;
    grid-template-columns: 25% auto;
    row-gap: 1.4rem;
}

.grid-configuracion > * {
    align-self: start;
    justify-self: start;
}

#configuracion-bibliografia {
    resize: none;
    min-width: 400px;
    width: 100%;
    height: 120px;
}

.configuracion-contenedor-bibliografia {
    width: 70%;
}

#configuracion-idioma {
    width: 120px;
    height: 31px;
}

#configuracion-borrarcuenta {
    width: 300px;
}

.configuracion-input {
    color: var(--acento2);
    background-color: transparent;

    border: solid 2px var(--acento2);
    border-radius: 10px;
    padding: 2px 8px;
}

.configuracion-indicador-caracteres {
    color: var(--acento2);
    font-size: 14px;

    display: block;
    text-align: end;
}

