
.fondo-peliculas {
    background-image: url('../assets/images/fondoPeliculas.png');

    color: white;

    height:  600px;
}

.estirar {
    background-size: 100% 100%;
    background-position: center;
}

@media (max-width: 1000px) {
    .estirar {
        background-size: cover;
    }
}

.centrar {
    display: flex;
    align-items: center;
}