
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*
@font-face {
    font-family: Lexend;
    src: url('//fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
}
*/

:root {
    --fuente-lexend: 'Lexend', sans-serif;
}

